
.contact-sub-button{

    padding: 0.5em 2em;
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--secondary-color);
    transition: all 500ms;
    font-size: 18px;
    position: relative;
    overflow: hidden;
    outline: 2px solid var(--secondary-color);
    background-color: transparent;
    max-width: 250px;
    margin: 0 0;
}

.contact-sub-button:hover:hover {
    color: #ffffff;
    transform: scale(1.05);
    outline: 2px solid var(--secondary-color);
    box-shadow: 2px 3px 10px -2px var(--secondary-color);
  }
  .contact-sub-button:active{
border-color: none;
  }
  .contact-sub-button::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: var(--secondary-color);
    transform: skewX(45deg);
    z-index: -1;
    transition: width 500ms;
  }
  
  .contact-sub-button:hover::before {
    width: 200%;
  }
.form-control{
    max-width: 200px;
    min-width: 50%;
    align-self: center;
}

@media screen and (max-width:1050px) {
    .form-control{
        max-width: 500px;
        min-width: 100%;
        align-self: center;
    }
    .contact-sub-button{
        margin: 0 5px;
    }
}